@page "/" 
@model ProiectMedii.Pages.Restaurante.IndexModel

@{
    ViewData["Title"] = "Index";
   
}

<h1>Restaurante disponibile</h1>
<button class="btn btn-outline-success"><a style="text-decoration:none;color:black" asp-page="/Rezervari/Create">Fa o rezervare!</a></button>
<p> </p>
<p>
    <a asp-page="Create">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Nume)
            </th>
            <th>
                Locatie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Adresa.Strada)
                    @Html.DisplayFor(modelItem => item.Adresa.Numar),
                    @Html.DisplayFor(modelItem => item.Adresa.Oras),
                    @Html.DisplayFor(modelItem => item.Adresa.Judet)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
